In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Planetary_Systems.csv")

In [3]:
data_top = data.head()
data_top

,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,pl_orbper,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,11 Com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,326.03000,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,14-05-14,2008-01,14-05-14
1,11 Com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,NaN,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,23-07-14,2011-08,23-07-14
2,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,NaN,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,25-04-18 14:08,2011-08,23-07-14
3,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,516.22000,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,25-04-18 14:08,2009-10,14-05-14
4,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,516.21997,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,04-09-18 16:14,2017-03,06-09-18

In [4]:
data.isnull().sum()

pl_name              0
hostname             0
sy_snum              0
sy_pnum              0
discoverymethod      0
                  ...
sy_gaiamagerr1     487
sy_gaiamagerr2     487
rowupdate            0
pl_pubdate           1
releasedate          0
Length: 87, dtype: int64

In [5]:
data.isnull().sum()

pl_name              0
hostname             0
sy_snum              0
sy_pnum              0
discoverymethod      0
                  ...
sy_gaiamagerr1     487
sy_gaiamagerr2     487
rowupdate            0
pl_pubdate           1
releasedate          0
Length: 87, dtype: int64

In [6]:
ls

 Volume in drive D is DATA
 Volume Serial Number is DAEA-B97D

 Directory of D:\Programs\CSE_Year2\SDS

21-Sep-20  10:23 PM    <DIR>          .
21-Sep-20  10:23 PM    <DIR>          ..
21-Sep-20  10:09 PM    <DIR>          .ipynb_checkpoints
21-Sep-20  07:28 PM        11,458,923 Planetary_Systems.csv
21-Sep-20  10:23 PM            33,945 SDS.ipynb
21-Sep-20  10:09 PM            78,388 SDS_1.ipynb
21-Sep-20  10:07 PM                72 Untitled.ipynb
               4 File(s)     11,571,328 bytes
               3 Dir(s)  267,096,477,696 bytes free

In [11]:
missing_values=['n/a','na','','NaN',' ']
data = pd.read_csv('Planetary_Systems.csv', na_values = missing_values)
                   
(data.isnull().sum().sum())/(26789*87)

0.3075486035398815

In [8]:
data

,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,pl_orbper,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,11 Com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,326.03000,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,14-05-14,2008-01,14-05-14
1,11 Com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,NaN,...,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848,23-07-14,2011-08,23-07-14
2,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,NaN,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,25-04-18 14:08,2011-08,23-07-14
3,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,516.22000,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,25-04-18 14:08,2009-10,14-05-14
4,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,516.21997,...,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903,04-09-18 16:14,2017-03,06-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26784,ups And d,ups And,2,3,Radial Velocity,1999,Multiple Observatories,Published Confirmed,0,1274.60000,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,18-09-14,2007-01,18-09-14
26785,ups And d,ups And,2,3,Radial Velocity,1999,Multiple Observatories,Published Confirmed,0,1276.46000,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,28-01-19 15:51,2011-01,31-01-19
26786,ups And d,ups And,2,3,Radial Velocity,1999,Multiple Observatories,Published Confirmed,0,1278.10000,...,-0.023,2.859,0.274,-0.274,3.98687,0.008937,-0.008937,24-04-15,2009-03,24-04-15
26787,xi Aql b,xi Aql,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,136.75000,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,14-05-14,2008-06,14-05-14
26788,xi Aql b,xi Aql,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,NaN,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,23-07-14,2011-08,23-07-14

In [9]:
716786/(26789*87)

0.3075486035398815